# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore test folder
/test

# Ignore temporary files
*.tmp
/logs
/data
/raw_data

# Ignore Environment Variables
.env

# Ignore node_modules directory
node_modules/

# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/

# Ignore Python test scripts
tests.py