
requirements.txt

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore node_modules directory
node_modules/

# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/